@rendermode InteractiveAuto
@using DataModels.Models
@inject HttpClient Http


<h3>DailyExamComponent</h3>
@*
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .question {
        margin-bottom: 20px;
    }

    .options label {
        display: block;
        margin-bottom: 10px;
    }

    .back-next-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
</style>

<form action="submit_answers.php" method="post" dir="rtl">
    <p>שאלה: </p>

    <div class="question">
        <hr />
        <div class="options">
            <label><input type="radio" name="q1" value="ans1"> תשובה 1 </label>
            <label><input type="radio" name="q1" value="ans2"> תשובה 2 </label>
            <label><input type="radio" name="q1" value="ans3"> תשובה 3 </label>
            <label><input type="radio" name="q1" value="ans4"> תשובה 4 </label>
        </div>
    </div>

    <div class="back-next-btn">
        <input type="submit" value="הקודם">
        <input type="submit" value="הבא">
    </div>
</form>


@code {
    public Subject[] subjects { get; set; }
    protected override async Task OnInitializedAsync()
    {
        subjects = await Http.GetFromJsonAsync<Subject[]>("api/Subject/AllSubjects");
    }

}
 *@