@rendermode InteractiveServer

@page "/exam/{examExecutionId:int}"

@inject SHcx cx
@inject CustomHttpClientService Http
@inject LocalStorageService LocalStorageService
@inject IJSRuntime JS
@inject NavigationManager Navigation

@using System.Text.Json
@using ShWeb.Components.BAServices
@using DataModels.Data
@using DataModels.Models

<h3>ExamComponent</h3>

<InnerExamComponent Permission=true examExecutionId=examExecutionId/>

@code{
    [Parameter]
    public int examExecutionId { get; set; }
}