@rendermode InteractiveServer

@inject SHcx cx;
@inject CustomHttpClientService Http
@inject LocalStorageService LocalStorageService
@inject IJSRuntime JS
@inject NavigationManager Navigation

@using System.Text.Json
@using ShWeb.Components.BAServices
@using DataModels.Data
@using DataModels.Models

@page "/subject-selection"

<h3>SubjectSelectionComponent</h3>

<h3>Choose a Subject</h3>

@if (subjects == null)
{
    <p>Loading...</p>
}
else if (subjects.Count == 0)
{
    <p>No subjects found.</p>
}
else
{
    <ul>
        @foreach (var subject in subjects)
        {
            <li>
                <button class="btn btn-primary" @onclick="@(() => StartExam(subject.SubjectId))">@subject.SubjectName</button>
            </li>
        }
    </ul>
}

@code {
    private List<Subject> subjects;

    protected override async Task OnInitializedAsync()
    {
        // Fetch subjects from API or service
        subjects = await Http.GetAsync<List<Subject>>("api/Subject/GetAllSubjects");
    }

    private void StartExam(int subjectId)
    {
        Navigation.NavigateTo($"/exam/{subjectId}");
    }
}
