@rendermode InteractiveServer

<PageTitle>חשבון</PageTitle>

@inject CustomHttpClientService Http
@inject NavigationManager Navigation

@using DataModels.Data
@using DataModels.Models
@using DataModels.Services
@using Newtonsoft.Json.Linq
@using ShWeb.Components.BAServices

@page "/account"


@if(currentUser != null){
    <h4>in account</h4>
    <label for="name">שם פרטי:</label> 

    <input type="text" placeholder="Name" @bind="currentUser.UserFullName" />
}


@code {
   
    private User currentUser;
    private UserSettings userSettings;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Http.GetAsync<User>("api/auth/GetCurrentUser");
            if (currentUser == null)
                Console.WriteLine("User not found.");

            userSettings = await Http.GetAsync<UserSettings>("api/Auth/GetUserSettings");// Load user settings from API

            StateHasChanged(); // Trigger a re-render after data is loaded

        }
    }
}
